.CalculatorPage-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  /* border: 1px dashed black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: yellow;  */
  box-sizing: border-box; 
}

.CalculatorPage-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.CalculatorPage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* keeps calculator from stretching too wide */
}
