.HomePage-wrapper {
    width: 95%;
    height: 95%;
    border: 1px dashed black;
    display: flex;
    justify-content: space-evenly;
    align-items: self-start;
    flex-direction: row;
    padding: 5px;

}

