.HomePage-wrapper {
    width: 95%;
    height: 95%;
    /* border: 1px dashed black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 100px;

}

.HomePage-mainContainer {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    
    flex-direction: column;
    gap: 10px;
}


.HomePagedesc-title {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.HomePagedesc-lists {
    list-style: none;
}

.HomePage-mainContainer-title {
    font-size: xx-large;
}

.HomePage-mainContainer-description {
    font-size: larger;
   display: flex;
    justify-content: flex-start;
    
    flex-direction: column;
    gap: 5px;

}


.HomePagedesc-lists1, .HomePagedesc-lists2  * {
    text-indent: 30px;

}
