/* .HomePage-wrapper {
    
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 5px 0;
    margin: 5px;
    gap: 100px;
}

.HomePage-mainContainer {
    padding:5px 5px 5px 5px; 

    
    width: 100%;
    min-height: auto;  
    border: 4px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
   
}


.HomePagedesc-title {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.HomePagedesc-lists {
    list-style: none;
}

.HomePage-mainContainer-title {
    font-size: xx-large;
}

.HomePage-mainContainer-description {
    font-size: larger;
   display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}


.HomePagedesc-lists1, .HomePagedesc-lists2  * {
    text-indent: 30px;
}

@media  screen and (max-width <= 700px) {

    .HomePage-wrapper {
   
    gap: 1px;
}

    
}

 */


 .HomePage-wrapper {
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 5px;
    margin: 5px;
    gap: 100px;
}

.HomePage-mainContainer {
    padding:5px;
    width: 100%;
    min-height: auto;
    border: 4px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.HomePagedesc-title {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.HomePagedesc-lists {
    list-style: none;
}

.HomePage-mainContainer-title {
    font-size: xx-large;
}

.HomePage-mainContainer-description {
    font-size: larger;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.HomePagedesc-lists1, .HomePagedesc-lists2 * {
    text-indent: 30px;
}

/* ---------------- RESPONSIVE ---------------- */
@media screen and (width <= 700px) {
    .HomePage-wrapper {
        gap: 20px;           /* reduced gap for smaller screens */
        padding: 10px;        /* optional: reduce padding */
    }

    .HomePage-mainContainer-title {
        font-size: 1.5rem;    /* scale down headings */
    }

    .HomePagedesc-title {
        font-size: 1.2rem;
    }

    .HomePage-mainContainer-description {
        font-size: medium;
    }

    .HomePagedesc-lists1, .HomePagedesc-lists2 * {
        text-indent: 15px;    /* reduce indent on mobile */
    }
}
