.NavBar-wrapper {
    width: 100%;
    height: 15%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px;

}

.NavBar-Title {
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;

    /* border: 1px solid red; */
    text-align: center;
}

.navBar-lists {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    /* border: 1px solid black; */
    padding-right: 50px;

}

.navBar-lists-link {
    border-right: 1px solid black;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Quote-list-link {
    border: none;
}