/* .NavBar-wrapper {
    width: 100%;
    height: 15%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;

}

.NavBar-Title {
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;

    
    text-align: center;
}

.navBar-lists {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    
    padding-right: 20%;

}

.navBar-lists-link {
    border-right: 1px solid black;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Quote-list-link {
    border: none;
} */




.NavBar-wrapper {
    width: 100%;
    /* min-height: 15%; */
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}


.NavBar-Title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
   
}


.navBar-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px; 
    flex-wrap: wrap; 
   
   
}

.navBar-lists-list {
    list-style: none;
    /* height: 100%;
    border: 3px solid black; */
}


.navBar-lists-link {
    border-right: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar-lists-list:last-child .navBar-lists-link {
    border-right: none; 
}


/* @media (max-width: 700px) {
    .NavBar-wrapper {
       display: flex;
       min-height: 20%;
       justify-content: center;
        flex-direction: row;

        align-items: flex-start;
        gap: 10px;
    }

    .navBar-lists {
        width: 100%;
        justify-content: space-around;
        gap: 10px;
    }
} */

@media (max-width: 700px) {
    .NavBar-wrapper {
        flex-direction: column;   /* stack title + links vertically */
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        /* width: 90%; */
        gap: 25px;
        padding: 20px;
        min-height: auto; 
        
                /* let height expand naturally */
    }

    .navBar-lists {
        /* border: 1px solid black; */
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;          /* allows UL to wrap on multiple lines */
        gap: 20px;
        flex-direction: column;

    }

    .navBar-lists-link  {
        border: none;
        color: orangered;
    }

    .navBar-lists-link:hover  {
        border-bottom: 1px solid orange;
    }

    /* .navBar-lists-link { 
        padding: 15px;
    } */
}
