.QuotePage-wrapper {
  width: 100%;
  min-height: 100vh; /* full viewport height */
  padding: 2rem;
  /* border: 1px dashed black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9; /* subtle background */
  box-sizing: border-box; /* ensures padding doesn't affect width */
  gap: 100px;
}

.QuotePage-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.QuotePage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* keeps calculator from stretching too wide */
}
